$fancyFont: "Chapeau Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

$topNavPink: #f49e9b;

$btmNavGreen: #a4d0d2;

$white: #ffffff;

/* UPCOMING SHOWS */

$upcomingBg: #7b95bd;

/* ABOUT */

$aboutBg: #eac477;

/* VIDEO */

$videoBg: #88eadb;

/* BLOG */

$blogBg: #d9c1a8;

/* CONTACT */

$contactBg: #7b7b7b;

body, .navbar-nav li a {
  font-family: $fancyFont;
  font-weight: normal;
  font-style: normal;
  color: $white !important;
}

.navbar-nav li a {
  font-size: 1.5em;
}

.pattern-bg {
  height: 100%;
  background-image: url(/img/home-bgseamless.png);
  background-size: 44%;
}

.bio {
  height: 100%;
  background-color: $aboutBg;
}

.portrait-bg {
  background-image: url(/img/home-portrait.svg);
}

.portrait {
  display: block;
  width: 54%;
  padding-top: 5%;
}

.navbar-fixed-top {
  background-color: $topNavPink;
  border-style: none;
  border-width: 0;
  background-image: none;
}

.navbar-fixed-bottom {
  background-color: $btmNavGreen;
  border-style: none;
  border-width: 0;
  background-image: none;
}

h1 {
  font-size: 2em;
  margin: 0.3em 0;
  font-weight: 200;
}

.quotes {
  padding-top: 5%;
}

.centered {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}
